.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0;
  padding: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

header {
  background-color: #0e185f;
  color: white;
  padding: 30px;
  margin-bottom: 25px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  background-color: #0e185f;
  color: white;
  padding: 30px;
  margin-top: 25px;
}
tr {
  background-color: #eeeeee;
  margin: 5px;
  border-radius: 5px;
  display: flex;
}

th {
  height: 40px;
  width: 100px;
  padding: 8px;
  display: flex;
  justify-content: center;
  text-align: center;
}

input {
  height: 27px;
  border-radius: 5px;
}

select {
  height: 30px;
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 6px;
}

label {
  margin-left: 10px;
}

.bar {
  background-color: #a5a5a5;
}

.btn {
  -webkit-border-radius: 20;
  -moz-border-radius: 20;
  border-radius: 20px;
  color: #ffffff;
  background: #a5a5a5;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #444444;
  text-decoration: none;
}

.checkbox {
  /* width: 50px; */
  height: 20px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
